*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: sans-serif;
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: arial, sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}


section { 
	border: 4px solid #666;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	margin:20px 0px;
	padding: 15px;
	text-align: center;
}
section button { 
	border: 2px solid #ccc;
	background: #9b9be8;
	padding: 5px 15px;
	color: #FFF; 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.75s;
	-moz-transition: all 0.75s;
	-ms-transition: all 0.75s;
	-o-transition: all 0.75s;
	transition: all 0.75s;
	cursor:pointer;
}
section button:hover {
	background: #c4c4ec;
}
section button:active {
	background: #7979d8;
}
.container {
	margin: 0 auto;
	max-width: 1170px;
}

.calculator table {
	border-radius: 10px;
	border:4px solid #666;
	text-align: center;
	width: 370px;
	margin: 0 auto;
	padding: 10px;
}
.calculator table tr {
	border-radius: 4px;
	border:1px solid #666;
}
.calculator table input {
	border-radius: 10px;
	border:2px solid #666;	
	text-align: center;
}
.calculator table select {
	border-radius: 10px;
	border:2px solid #666;	
}

